<h3>sent messages</h3>
<% @profile.sent_messages.each do |message| %>
  <div class="message">
    <p>To: <%= message.recipient.first_name%></p>
    <p>Sent By: <%= message.sender.first_name %></p>
    <%= message.message %>
  </div>
<% end %>
