<h3>Sent Messages</h3>
<div class="sent_message">
<% if @profile.sent_messages.any? %>
  <% @messages_sent_messages.each do |message| %>
    <div class="chat-message">
      <p>To: <%= message.recipient.first_name %></p>
      <p>Subject: <%= message.subject_line %></p>
      <p>Sent By: <%= message.sender.first_name %></p>
      <%= message.message %>
    </div>
  <% end %>
<% end %>
</div>
