<h3>Sent Messages</h3>
<% if @profile.sent_messages.any? %>
  <% @profile.sent_messages.each do |message| %>
    <div class="message">
      <p>To: <%= message.recipient.first_name%></p>
      <p>Subject: <%= message.subject_line %></p>
      <p>Sent By: <%= message.sender.first_name %></p>
      <%= message.message %>
    </div>
  <% end %>
<% end %>
