<div class="content">
    <div id="mailbox-title">
      <h1><%= @profile.first_name %>'s MailBox</h1>
    </div>

    <div id="mailbox">
      <%= render "inbox" %>

      <%= render "sent" %>
    </div>
</div>
