<div id= "imageslideshow">
  <%= link_to image_tag('left_arrow.png'), '#', class:'left_arrow'%>
  <%= link_to image_tag('right_arrow.png'), '#', class:'right_arrow'%>
  <div class= "container">
    <div style="display: inline-block;"><%= image_tag(@profile.images[0].image_url) %></div>
    <% range = (0..(@profile.images.length)) %>
    <% range.select do |r| %>
    <div><%=  image_tag(@profile.images[r-1].image_url) %></div>
    <% end %>
</div>

</div>
