<div id= "imageslideshow">
  <% if (@profile.images.length < 2) %>
       <%= image_tag(@profile.user.github_image) %>
     <% else %>
       <ul class="bxslider">
         <% range = (0..(@profile.images.length)) %>
         <% range.select do |r| %>
           <li><%=  image_tag(@profile.images[r+1].image_url) %></li>
         <% end %>
       </ul>
     <% end %>
</div>
