  <%= link_to(profile_path(profile)) do %>
  <%= image_tag profile.user.github_image, class: 'profile-image' %>
    <div id="index-view-profile-info">
        <p id = "index-profile-name"><%= profile.first_name%><p>
        <p id="index-profile-location"><%=profile.location %></p>
    </div>
    <hr class="line-break">
  <% end %>
