<h1> User Search </h1>


<label>What are you looking for?</label><br>
<input type="radio" name="choice" value="paired"> Paired <br>
<input type="radio" name="choice" value="date"> Date <br>


  <%= render 'pair_search' %>
  <%= render 'date_search' %>

<% @profiles.each do |profile| %>
<%= profile.first_name%><%=profile.last_name %>
<% end %>
