<div id="loadAnimation">
  <span class="logoTyped"></span>
  <span class="typed-cursor">|</span>
</div>

<%= link_to image_tag("power.svg"), auth_at_provider_path(provider: :github), class: "power-icon"%>
