<%= render 'icons' %>
  <div class="logo-animated" >
    <svg class="githug-logo">
      <use xlink:href="#GitHugLogo3"/>
    </svg>
  </div>

  <div class="load-page">

<%= link_to 'LOGIN', auth_at_provider_path(provider: :github), class: "login" %>

  <div id="or">
    <p>----OR----</p>
  </div>

<%= link_to 'SIGN UP', auth_at_provider_path(provider: :github), class: "signup" %>

</div>
