<div id = "pull_requests">
<%= @received_requests.each do |p| %>
<p> <%= p.requestor_id %> </p>
<p><%= p.requestee_id %></p>
<%= link_to "Reply to Request", edit_pull_request_path(p) %>
<% end %>
</div>
