<link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>


<div style="background-color:#31343f; width:600px; height=100px;">
    <h1 style="color:#9FED9C; font-family:VT323; font-size:50px; padding: 20px; ">[GitHug<3]</h1>
</div>

  <div style="padding-left:25px">
    <p>Hey <%= @user.first_name %>,</p>

    <p>Looks like someone likes you! <br> You just got a new message from
    <%= @sender.first_name %>. Log in to check it out!</p>

    <p style="color:#E06C75; font-family:VT323; font-size:25px;"><bold><3</bold></p>
    <p style="margin-top:-20px">Team GitHug</p>
  </div>

<div style="background-color:#31343f; width:600px; height:20px; padding-left:-10px;">
</div>
