<link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>

<div style="background-color:#31343f; width:600px; height=100px;">
    <h1 style="color:#9FED9C; font-family:VT323; font-size:50px; padding: 20px; ">[GitHug&lt3]</h1>
</div>
  <div style="padding-left:25px">
    <h3> Welcome to GitHug, <%= @user.username %> ! </h3>

    <p>We are so happy you joined! Don't forget to review your
    <%= link_to "profile", new_session_url %> settings and
    update them so you can start connecting with other coders.</p>

    <p style="color:#E06C75; font-family:VT323"><bold>&lt3</bold></p>
    <p style="margin-top:-15px">Team GitHug</p>
    </div>
  </div>
<div style="background-color:#31343f; width:600px; height:20px;">
</div>
