<h3>Hey <%= @user.username %>,</h3>

<p>Welcome to GitHug!</p>

<p>We are so happy you joined! Don't forget to review your
<%= link_to "profile", new_session_url %> settings and
update them so you can start connecting with other coders.</p>

<p><bold>&lt3</bold><br>
GitHug</p>
