<div class="content">
  <div class="about-us">
    <h2>Team GitHug</h2>
      <%= link_to image_tag('am.jpg'), 'https://github.com/amdoyle', class: 'about-image' %>
      <p class = "index-about-name">Ann Marie</p>
      <%= link_to image_tag('nat.jpg'), 'https://github.com/ndoak', class: 'about-image' %>
      <p class = "index-about-name">Natalie</p>
      <%= link_to image_tag('mandeep.jpg'), 'https://github.com/mwraich', class: 'about-image' %>
      <p class = "index-about-name">Mandeep</p>
      <%= link_to image_tag('miranda.jpg'), 'https://github.com/mirandagagnon', class: 'about-image' %>
      <p class = "index-about-name">Miranda</p>
  </div>
</div>
