//------------------Base Document Styles------------//

body{
  background-color: #DCE4EF;
  min-height: 100%;

}
textarea#message_message {
  color:black;
}

.content{
  margin-top: 20%;
}

.page-title{
  font-size: 1.6rem;
  color: #31343f;
  background-color: #dce4ef;
  width: 90%;
  margin-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 2px;
}

#main-menu{
  display: none;
}

#login-notice{
  display: none;
}

  label.error {
    display: block;
    color: #e06c75;
    width: 100%;
  }
//-------------------Nav Bar-----------------//

.logout-icon{
  display: none;
}

.message-icon img{
  width: 10%;
}
.message img{
  width: 10%;
  margin-left: 5%;
  display: inline;
  margin-top: 2.5%;
}

.logo h1{
  font-family: 'VT323', ;
  color: #9FED9C;
  font-size: 2.5rem;
  text-align: center;
  margin-top: -13%;

}

.menu{
  display: inline;
  width: 10%;
  float: right;
  margin-top: -19%;
  margin-right: 5%;

}

.menu-bar{
  background-color: $secondary-background-color;
  height: 4rem;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left:0;
}



//----------------Edit and Create Profile Pages Form Styling-----------------//



.form_checkbox_input label{
  display: inline;
  font-size: 1.1rem;
  color: #3b3b3b;
}

.form_radio_button label{
  display: inline;
  font-size: 1.2rem;
  color: #3b3b3b;
}


label.select_label{
  font-size: 1.4rem;
  color: #6a6a6a;

}

#tag{
  padding-left: 5%;
  font-size: 1.3rem;
  color: #3b3b3b;
  text-align: center;
  margin-top: 5%;
}

a.add_fields{
  color: #1E2542;
}

.actions input{
  width: 87%;
  margin-left: 6.5%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 1.2rem;
  background-color: #31343F;
}

.actions{
  margin-top: 10%;

}
.language-fields-label{
  display: inline;
  font-size: 1rem;
  color: #3b3b3b;
}

#tag-explained{
  text-align: center;
  color: #919293;
  margin-top: -1%;
}

  #add_language{
    color: #52ce4c;
    font-size: 1.2rem;
    cursor: pointer;
    display: inline-block;
    margin-left: 5%;

    &:hover,
    &:focus {
      color: #3b3b3b;
    }


  }

.add-language-spacing{
  padding-top: 1%;
  padding-bottom: 1%;
}

  #remove_language{
    color: #e06c75;
    font-size: 1.2rem;
    cursor: pointer;
    display: inline-block;
    margin-left: 5%;

    &:hover,
    &:focus {
      color: #3b3b3b;
    }

  }

  #remove_pref_language{
    color: #e06c75;
    font-size: 1.2rem;
    cursor: pointer;
    display: inline-block;
    margin-left: 5%;

    &:hover,
    &:focus {
      color: #3b3b3b;
    }
  }

  #remove_preference{
    color: #e06c75;
    cursor: pointer;
    display: inline-block;
    margin-left: 5%;
    font-size: 1.2rem;

    &:hover,
    &:focus {
      color: #3b3b3b;
    }

  }

#add_photo{
  color: #52ce4c;
  font-size: 1.2rem;
  cursor: pointer;
  display: inline-block;
  margin-left: 5%;

  &:hover,
  &:focus {
    color: #3b3b3b;
  }

}

#remove_photo{
  color: #e06c75;
  font-size: 1.2rem;
  cursor: pointer;
  display: inline-block;
  margin-left: 5%;

  &:hover,
  &:focus {
    color: #3b3b3b;
  }


}

#remove_partner{
  color: #e06c75;
  font-size: 1.2rem;
  cursor: pointer;
  display: inline-block;
  margin-left: 5%;

  &:hover,
  &:focus {
    color: #3b3b3b;
  }

}

#remove_pair_programmer{
  color: #e06c75;
  font-size: 1.2rem;
  cursor: pointer;
  display: inline-block;
  margin-left: 5%;

  &:hover,
  &:focus {
    color: #3b3b3b;
  }
}

#add_partner{
  color: #52ce4c;
  font-size: 1.2rem;
  cursor: pointer;
  display: inline-block;
  margin-left: 5%;

  &:hover,
  &:focus {
    color: #3b3b3b;
  }
}

#add_pair_programmer{
  color: #52ce4c;
  font-size: 1.2rem;
  cursor: pointer;
  display: inline-block;
  margin-left: 5%;

  &:hover,
  &:focus {
    color: #3b3b3b;
  }
}

textarea#profile_about_me{
  height: 3rem;
}

button#nameNext{
  float: right;
  margin-top: 2%;
  margin-right: 5%;

}
button#birthdayNext{
  float: right;
  margin-right: 5%;
  margin-top: 2%;
}
button#birthdayPrevious{
  margin-left: 5%;
  margin-top: 2%;
}
button#aboutMePrevious{
  margin-left: 5%;
  margin-top: 2%;
}
button#aboutMeNext{
  float: right;
  margin-right: 5%;
  margin-top: 2%;
}

button#languagePrevious{
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 5%;
}

button#languageNext{
  float: right;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 5%;
}

button#preferencesPrevious{
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 5%;
}




//-----------------Index Page Styling----------------//



.profile-image{
  background-color:  #AADBE8;
  border-radius: 200px;
  width: 30%;
  display: inline;
  float: left;
  margin-left: 5%;
  margin-right: 5%;

}

#index-view-profile-info{
  font-size: 1.5rem;
  display: inline;
  clear:left;

  &p {
    padding-top: 5%;
    padding-left: 5%;
 }
}


#link-to-profile img{
  width: 10%;
  float:right;
  margin-top: 1%;
  margin-right: 6%;
}

#index-profile-name{
  color: #262831;
}

#index-profile-location{
  font-size: 1rem;
  margin-top: -2%;
  color: #3B3B3B;
}

.index-users{
  border-radius: 2px;
  width: 90%;
  margin-left: 5%;
  padding-top: 2%;
  padding-bottom: 10%;
  margin-top: 1%;
}

.line-break{
  margin-top: 20%;

}

.preference-form{
  margin-bottom: 1%;
  margin-left: 2.5%;
  padding-bottom: 10%;
}

.lang_pref_form{
  margin-bottom: 3%;
}

input#search_city{
  width: 50%;
  display: inline;
  margin-left: 10%;
}
select#search_province{
  width: 50%;
  display: inline;
  margin-left: 1%;
}

input#submit{
  float:right;
  margin-top: -5%;
  margin-right: 5%;
}


input#search_location{
  width: 40%;
  height: 2rem;
  font-size: 1rem;
  display: block;
  margin-left: 5%;
  border: solid;
  border-color: #6a6a6a;
  border-width: 0.5px;
  border-radius: 5px;
}

input#search{
  float: right;
  margin-right: 7%;
}

.button-label{
  font-size: 1.2rem;
  color: #3b3b3b;

}

#search{
  margin-left: 35%;
}


.search-form{
  background-color: #f5f7fa;
  margin-top: 20%;
  width: 90%;
  margin-left: 5%;
  padding-top: 1%;
  margin-bottom: 2%;
  border-radius: 2px;
  & h2{
    background-color: #dce4ef;
    font-size: 1.6rem;
    color: #31343f;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    text-align: center;
    border-radius: 2px;
  }
}

label#first_option_label{
  color: #6a6a6a;
  font-size: 1.2rem;
}

#first_option{
  background-color: #f5f7fa;
  margin-top: 20%;
  width: 90%;
  margin-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 2%;
  border-radius: 2px;
  & h2{
    background-color: #dce4ef;
    font-size: 1.6rem;
    color: #31343f;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    text-align: center;
    border-radius: 2px;
  }
  & label{
    font-size: 1rem;
    color: #3b3b3b;
  }
}


input#search_min_age{
  width: 20%;
  height: 1.5rem;
  font-size: 0.7rem;
  border-width: 3px;
  display: inline;
  margin-left: 2.5%;
  border: solid;
  border-color: #6a6a6a;
  border-width: 0.5px;
  border-radius: 5px;
}
input#search_max_age{
  width: 20%;
  height: 1.5rem;
  font-size: 0.7rem;
  border-width: 3px;
  display: inline;
  margin-left: 2.5%;
  margin-top: -2.5%;
  border: solid;
  border-color: #6a6a6a;
  border-width: 0.5px;
  border-radius: 5px;
}

select#profile_partner_attributes_province{
  display: inline;
  height: 2rem;
  margin-left: 2%;
}

select#profile_pair_programmer_attributes_province{
  display: inline;
  height: 2rem;
  margin-left: 2%;
}


select#profile_province{
  display: inline;
  height: 2rem;
}


//--------------Profile  Show Page------------------//



.profile-form{
  margin-top: 20%;
  background-color: #f5f7fa;
  width: 95%;
  margin-left: 2.5%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 2%;
  border-radius: 2px;
}

.profile-name{
  font-size: 1.5rem;
  color: $secondary-background-color;
}

#profile-images{
  width: 60%;
  margin-left: 20%;
  margin-top: 20%;

  & img{
  border-radius: 0px;
  height: 225px;
  width: 100%;
  }
}
button.message-and-request-button{
 background-color: #9FED9C;
 color: #262831;
 width: 35%;
 margin-left: 10%;

}

input.block_button{
  background-color: #e06c75;
  color: white;
  width: 35%;
  margin-left: 55%;
  margin-top: -18%;
  height: 2.5rem;
}

button.message-to-button{
  margin-left: 10%;
  width: 35%;
  background-color: #9fed9c;
  color: #31343F;
}

#profile-aboutme{
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  font-size: 1.2rem;
  margin-right: 5%;
  margin-left: 5%;
  color: #262831;
  & p{
    color: #3B3B3B;
  }
}

#profile-details{
  padding-bottom: 5%;
  color: #262831;
  text-align: center;
  & h2{
    font-size: 1.2rem;
  }
}

#profile-languages{
  padding-bottom: 5%;
  color: #262831;
  text-align: center;
  & h2{
    font-size: 1.2rem;
  }
}

.profile-tags{
  text-align: center;
  padding-bottom: 10%;
  & a{
    background-color: $base-background-color;
    color:#9fed9c;
    padding: 2%;
    border-radius: 2px;
  }
}

.send-message-profile{
  margin-left: 5%;
  margin-bottom: 5%;
}

.recos {
  margin-left: 20px;
  margin-right: 20px;

  & img {
      background-color: #AADBE8;
      border-radius: 200px;
      width: 13%;
      display: inline;
      float: left;
      margin-right: 10px;
  }
  & p {
    color: #262831;
    margin: -2px;
  }
  & hr{
    width: 100%;
    height: 1px;
  }
  & h2 {
    font-family: "Inconsolata";
    text-align: center;
    color: #262831;
    font-size: 1.2rem;
    line-height: 1.2em;
    margin-bottom: 2rem;
  }
}
.individual-reco{
  margin-bottom: 28px;
}

.message_error_messages{
  color:#9FED9C;
  padding-left: 6%;
  margin-top: -2%;
}
//--------------Responsive Nav Bar---------------//

#nav-trigger{
  display: none;

  &span{
   display: inline;

     &:after{
     display: inline;
     content: "";
   }
  }
}
nav#nav-mobile{
  position: relative;
  display: none;
}

nav#nav-mobile ul{
  display: none;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: $secondary-background-color;
  width: 100%;
  font-size: 1.5rem;
}

nav#nav-mobile li{
  display: block;
  border-bottom: solid 3px #61647d;
  padding-bottom: 2%;
  padding-top: 2%;
  &:last-child{
    border-bottom: none;
  }
}

//-------------Mobile Screen Messages Page----------------//
#show-inbox-button{
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 40%;
  background-color: #31343f;
  border-radius: 2px;
  color: #dee2f8
}

#show-inbox{
  padding-top: 5%;
}

#sent_message_show{
  margin-left: 7%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 43%;
  background-color: #31343f;
  border-radius: 2px;
  color: #dee2f8
}

.unread{
  float: right;
  margin-right: 5%;
  margin-top: -1%;
  font-size: 1.2rem;
}

.unread-checkbox{
  float: right;
  margin-right: 5%;
}

#message_message{
  margin-top: 2.5%;
}

.reply{
  background-color: #9fed9c;
  border: 0;
  border-radius: 2px;
  color: #31343f;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  transition: background-color $base-duration $base-timing;
  vertical-align: middle;
  white-space: nowrap;
  margin-left: 5%;

  &:hover,
  &:focus {
    background-color: shade(#a9a9a9, 20%);
    color: #fff;
  }
}

#inbox_reply {
  color:black;
}

textarea#message_message.reply_message_message{
  height: 3rem;
  background-color: white;
}

textarea#message_message{
  height: 3rem;
  background-color: #31343f;
  color:white;
}

.recipient_id{
  color: #3b3b3b;
}

.subject_line{
  color: #3b3b3b;
}

.sent_by{
  color: #3b3b3b;
}

.reply_message{
  margin-top: 2%;
  & input {
    margin-left: 5%;
  }
}

.reply-name{
  color: #3b3b3b;
}

.reply{
  margin-top: -2%;
  margin-left: 5%;
}
.message-text{
  margin-left: 5%;
  color: #31343f
}
.message-info{
  margin-left: 5%;
  color: #7f7f7f;
}

#mailbox-title{
  display: none;
}

.new_message_pop_up_expanded  {
  bottom: 0;
  z-index: 150;
  overflow: hidden;
  position:fixed;
  width:100%;
  height: 25%;
  display:block;
  background-color: $secondary-background-color;

  & p {
     color: #9fed9c;
     padding-left:6%;

   }
}


 input#commit {
   border-radius:none;
   padding-bottom: 5%;
   font-size: 1.5rem;
   background-color: #262831;
   margin-left: -5%;
   margin-top: -1%;
   margin-bottom: 5%;
   &:hover {
     color:white;
   }
 }


   #tag-name{
     text-align: center;
     font-size: 1.5rem;
     width: 80%;
     margin-left: 10%;
     background-color: $base-background-color;
     color:#9fed9c;
     padding: 2%;
     border-radius: 2px;
     margin-top: 15%;


   }

//------------About Us Page------------------//
.about-us{
  background-color: #f5f7fa;
  width: 95%;
  margin-left: 2.5%;
  margin-top: 25%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 2%;
  border-radius: 2px;
  & h2{
    background-color: #dce4ef;
    font-size: 1.6rem;
    color: #31343f;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    text-align: center;
    border-radius: 2px;
  }
}
.contact-us{
  background-color: #f5f7fa;
  width: 95%;
  margin-left: 2.5%;
  margin-top: 15%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 2%;
  border-radius: 2px;
  & h2{
    background-color: #dce4ef;
    font-size: 1.6rem;
    color: #31343f;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    text-align: center;
    border-radius: 2px;
  }
  & p{
    text-align: center;
    color: #333333;
  }
}
.about-image img{
  width: 75%;
  height: 250px;
  border-radius: 2px;
  margin-left: 12.5%;
}

.index-about-name{
  color: #31343f;
  margin-left: 35%;
  margin-top: 2%;
  margin-bottom: 1%;
  font-size: 1.5rem;
}



//------------------Footer----------------------//
.footer{
  clear: both;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  background-color: #9ea1b4;
  margin-top: 110%;
  padding-top: 1%;
  padding-bottom: 0%;
  & a{
    color: #eaeae8;
    margin-left: 1%;
    font-size: 1.1rem;
    padding-bottom: 0.5%;
    display: block;
  }

  & p{
    color: #d1d3d6;
    float: right;
    font-size: 0.9rem;
    margin-right: 1%;
  }
}


@media all and (max-width: 900px) {
  #nav-trigger {
    display: block;
  }

  nav#nav-main {
    display: none;
  }

  nav#nav-mobile {
    display: block;
    margin-top: -5%;
  }
}


#empty_mailbox{

  height: 500px;
  & p{
    font-style: italic;
  }
}
.message-text{
  padding-right: 2%;
  word-wrap: break-word;
}


//------------Desktop Size------------//




@include media ($large-screen-up){

  .spacing{
     margin-left: 37%;
     height:55px;
     width: 100%;
  }

  body{
    background-color: #D7DAE0;
    min-height: 100%;
  }
  .message{
    display: none;
  }

  .logo h1{
    font-family: 'VT323', ;
    color: #9FED9C;
    font-size: 1.6rem;
    text-align: left;
    margin-top: 0.5%;
    margin-left: 2%;

  }

  .menu-bar{
    background-color: $base-background-color;
    height: 3.5rem;
  }
  .logout-icon{
    display: block;
    float: right;
    margin-right: -28%;
    margin-top: -4.25%;
    & img{
      width: 40%;
      padding-top: 2.5%;
    }
  }
  #nav-main{
    display: none;
  }

  #main-menu{
    display: block;
    background-color: $base-background-color;
    width: 15%;
    position: fixed;

    & li{
      padding-left: 7.5%;
      border-bottom: 5px solid #D7DAE0;
      padding-bottom: 5%;
      padding-top: 5%;
      & :hover{
        color: $secondary-font-color;
      }
    }

  }
  #login-notice{
    margin-left: 1%;
    display: inline;
    color: #5378BC;
  }

  #unread-messages-notice{
    float: right;
    background-color: #9fed9c;
    color: $base-background-color;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    width: 15%;
    border-radius: 2px;
    font-style: none;

    & p {
      color:$base-background-color;
      font-style: none;

    }
    & a {
        color:$base-background-color;
    }

    & :active {
      background-color: #31343f;
      font-style: none;
    }
  }

  //-------------Profile Show Page Styles------------//

  .content{
    width: 65%;
    margin-left: 20%;
    margin-top: 7%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
  }
  #profile-info-container{
    background-color: #f5f7fa;
    border-radius: 2px;
    width: 90%;
    margin-left: 2.5%;
    padding-top: 2%;
    padding-bottom: 3%;
    margin-top: -3%;
  }
  #profile-name{
    width: 60%;
    margin-top: -22%;
    margin-left: 37%;
    & h1{
    text-align: left;
    font-size: 2rem;
    color: #31343f;
    }
  }

  .bx-wrapper{
    width: 45%;
    border: none;
    margin-left: -25%;
    height: 200px;


  }

  #profile-images{
    margin-top: 0%;
    & img{
      border-radius: 0;
      height: 200px;
      width: 100%;

    }

  }

  #profile-details{
    background-color: #f5f7fa;
    width: 44%;
    margin-left: 2.5%;
    margin-top: -3%;
    border-radius: 2px;
    padding-top: 1%;
    text-align: left;
    & h2{
      background-color: #dce4ef;
      font-size: 1.5rem;
      color: #31343f;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 1%;
      text-align: center;
      border-radius: 2px;
    }
    & li{
      color: #3b3b3b;
      margin-left: 6%;
      margin-right: 6%;
    }
  }

  #profile-aboutme{
    text-align: left;
    margin-top: 2%;
    background-color:#f5f7fa;
    border-radius: 2px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 2.5%;
    width: 90%;
    & h2{
      background-color: #dce4ef;
      font-size: 1.6rem;
      color: #31343f;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 1%;
      text-align: center;
      border-radius: 2px;
    }
    & p{
      color: #3b3b3b;
      margin-left: 6%;
      margin-right: 6%;
    }
  }

  .reco_matches{
    text-align: left;
    margin-top: 2%;
    background-color:#f5f7fa;
    border-radius: 2px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 2.5%;
    width: 90%;
    & h2{
      background-color: #dce4ef;
      font-size: 1.6rem;
      color: #31343f;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 1%;
      text-align: center;
      border-radius: 2px;
    }
  }


  #profile-languages{
    float: right;
    background-color: #f5f7fa;
    width: 44%;
    margin-top: -26.5%;
    margin-right: 7.5%;
    border-radius: 2px;
    padding-top: 1%;
    height: 220px;
    text-align: left;
    & h2{
      background-color: #dce4ef;
      font-size: 1.5rem;
      color: #31343f;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 1%;
      text-align: center;
      border-radius: 2px;
    }
    & li{
      color: #3b3b3b;
      margin-left: 6%;
      margin-right: 6%;
    }
  }

  .send-message-profile{
    margin-left: 10%;
    & p{
      font-size: 1.2rem;
      color: #00fe06;
      margin-top: -2%;
    }
  }
  .new_message p {
     color: #9fed9c;
     padding-left:6%;

   }

  .new_message_pop_up_expanded {
    width: 40%;
    height: 23%;
    float: right;
    right: 0;
    & textarea#message_message {
      width: 75%;
      height: 50%;
    }
  }

   input#commit {

     background-color: $secondary-background-color;
     color: #9fed9c;
     font-size: 1.5rem;
     margin-left: -1%;
     margin-top: -2%;
     padding-bottom: 0;
     &:hover {
       color:white;
     }
   }
   button.message-and-request-button{
    margin-left: 37%;
    background-color: #9FED9C;
    color: #262831;
    width: 15%;
   }

   input.block_button{
     margin-left: 55%;
     margin-top: -9%;
     height: 2.5rem;
     background-color: #e06c75;
     color: white;
     width: 16%;

   }
   .recos {
     margin-top: 2%;
     background-color: #f5f7fa;
     border-radius: 2px;
     padding-top: 1%;
     padding-bottom: 2%;
     margin-left: 2.5%;
     width: 90%;

     & img {
         width: 10%;
         margin-right: 40px;
         margin-left: 40px;
     }
     & p {
       margin-left: 6%;
       margin-right: 6%;
       list-style: 1.2rem;
     }
     & hr{
      border-bottom: 5px solid #dce4ef;
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
     }
     & h2 {
       background-color: #dce4ef;
       font-size: 1.5rem;
       color: #31343f;
       margin-left: 5%;
       margin-right: 5%;
       margin-top: 1%;
       text-align: center;
       border-radius: 2px;
     }
   }
   .reco-info{
     padding-top: 18px;
   }


  //---------------Edit/New Profile Form Desktop Size-----------//


  .profile-form{
    background-color: #f5f7fa;
    width: 65%;
    margin-left: 17.5%;
    margin-top: 7%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
    border-radius: 2px;
  }
  input#profile_birthday{
    margin-left: -1%;
  }
  .form_input input{
    width: 40%;
    height: 2rem;
    border-color: #6a6a6a;
    border-width: 0.5px;
    border-radius: 5px;
    font-size: 1rem;
    display: inline;
    margin-left: 2%;

  }

  .form_input label{
    display: inline-block;
    width: 20%;
    font-size: 1rem;
  }



  textarea#profile_about_me{
    width: 40%;
    border-color: #6a6a6a;
    border-width: 0.5px;
    border-radius: 5px;
    font-size: 1rem;
    display: inline;
    margin-left: -5%;
    margin-bottom: -3%;
    height: 4rem;
  }
  .form_checkbox_input label{
    display: inline-block;
    width: 12%;
    font-size: 1rem;
  }
  .form_radio_button label{
    font-size: 1rem;
  }
  label.select_label{
    font-size: 1rem;
    width: 17%;

  }

  .language-fields label{
    font-size: 1rem;
    display: inline-block;
    width: 20%;

  }

  .language-fields input{
    width: 40%;
    height: 1.7rem;
    border-color: #6a6a6a;
    border-width: 0.5px;
    border-radius: 5px;
    font-size: 1rem;
    display: inline;
    margin-left: 2%;

  }

  .language-fields-radio input{
    font-size: 0.7rem;
    display: inline;

  }
  .language-fields-radio label{
    display: inline;
    width: 20%;
    font-size: 1rem;

  }

  .skill-level{
    font-size: 1rem;
  }

  #tag{
    text-align: center;
    padding-top: 0%;
    padding-left: 0%;
  }
  #tag-explained{
    text-align: center;
    color: #919293;
    margin-top: -1%;
  }

  select#profile_partner_attributes_province{
    display: inline;
    margin-left: 2%;
  }

  select#profile_pair_programmer_attributes_province{
    display: inline;
    margin-left: 2%;
  }

  #remove_language{
    color: #e06c75;
    font-size: 1.2rem;
    cursor: pointer;
    display: inline-block;
    margin-left: 5%;

    &:hover,
    &:focus {
      color: #3b3b3b;
    }

  }

  #add_language{
    color: #52ce4c;
    font-size: 1.2rem;
    cursor: pointer;
    display: inline-block;
    margin-left: 5%;

    &:hover,
    &:focus {
      color: #3b3b3b;
    }


  }

  #add_photo{
    color: #52ce4c;
    cursor: pointer;
    display: inline-block;
    margin-left: 5%;
    margin-top: -15%;
    font-size: 1.2rem;

    &:hover,
    &:focus {
      color: #3b3b3b;
    }
  }

  #remove_photo{
    margin-top: -15%;
    color: #e06c75;
    cursor: pointer;
    display: inline-block;
    margin-left: 5%;
    font-size: 1.2rem;

    &:hover,
    &:focus {
      color: #3b3b3b;
    }
  }

  #add_pref_language{
    color: #52ce4c;
    cursor: pointer;
    display: inline-block;
    margin-left: 5%;
    margin-top: -15%;
    font-size: 1.2rem;

    &:hover,
    &:focus {
      color: #3b3b3b;
    }
  }

  #add_pref{
    color: #52ce4c;
    cursor: pointer;
    display: inline-block;
    margin-left: 5%;
    margin-top: -15%;
    font-size: 1.2rem;

    &:hover,
    &:focus {
      color: #3b3b3b;
    }
  }

  .image-fields img{
    margin-left: 5%;
  }


  .actions input{
    width: 30%;
    margin-left: 37%;
    margin-bottom: 5%;
    font-size: 1.2rem;
    border: none;
    background-color: $base-background-color;
  }

  .actions{
    margin-top: 0%;
  }

  label#looking_for{
    width: 40%;
  }


  select#profile_province{
    display: inline;
    margin-left: 2%;
  }
  .button-label{
    font-size: 1rem;
  }

  input#profile_tag_list{
    margin-left: -5%;
  }

  button#nameNext{
    float: right;
    margin-top: -3%;
    margin-right: 2%;
  }
  button#birthdayNext{
    float: right;
    margin-right: 5%;
    margin-top: 2%;
  }
  button#birthdayPrevious{
    margin-left: 5%;
    margin-top: 2%;
  }
  button#aboutMePrevious{
    margin-left: 5%;
    margin-top: 2%;
  }
  button#aboutMeNext{
    float: right;
    margin-right: 5%;
    margin-top: 2%;
  }

  button#languagePrevious{
    margin-left: 5%;
    margin-top: 2%;
  }

  button#languageNext{
    float: right;
    margin-right: 5%;
    margin-top: 2%;
  }

  //----------------Index Search Forms Desktop Size-----------------//



  #first_option{
    background-color: #f5f7fa;
    border-radius: 2px;
    width: 90%;
    margin-left: 2.5%;
    padding-top: 1%;
    margin-top: -3%;
    & h2{
      background-color: #dce4ef;
      font-size: 1.6rem;
      color: #31343f;
      margin-left: 5%;
      margin-right: 5%;
      text-align: center;
      border-radius: 2px;
    }
  }


  #search-choice{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }

  #pairchoice{
    margin-left: 10%;
  }

  .preference-form{
    margin-bottom: 1%;
    margin-left: 2.5%;
    padding-bottom: 2.5%;
  }

  .lang_pref_form{
    margin-bottom: 3%;
  }

  input#search_city{
    width: 25%;
    display: inline;
    margin-left: 5%;
    height: 2rem;
  }
  select#search_province{
    width: 25%;
    display: inline;
    margin-left: 1%;
    height: 2rem;
  }

  input#submit{
    float:right;
    margin-top: -5%;
    margin-right: 5%;
  }

  .search-form{
    background-color: #f5f7fa;
    border-radius: 2px;
    width: 90%;
    margin-left: 2.5%;
    padding-top: 2%;
    margin-top: -2.5%;
    & h2{
      background-color: #dce4ef;
      font-size: 1.6rem;
      color: #31343f;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 1%;
      text-align: center;
      border-radius: 2px;
    }

  }

  .looking-form{
    margin-left: 2.5%;
  }


  input#search_location{
    width: 30%;
    height: 1.5rem;
    font-size: 1rem;
    border-width: 3px;
    display: inline;
    margin-left: 1%;
    border: solid;
    border-color: #6a6a6a;
    border-width: 0.5px;
    border-radius: 5px;
  }

  input#search{
    float: right;
    margin-right: 7%;
    margin-top: 3%;
  }

  input#search_min_age{
    width: 20%;
    height: 2.0rem;
    font-size: 1rem;
    border-width: 3px;
    display: inline;
    margin-left: 2.5%;
    border: solid;
    border-color: #6a6a6a;
    border-width: 0.5px;
    border-radius: 5px;
  }
  input#search_max_age{
    width: 20%;
    height: 2.0rem;
    font-size: 1rem;
    border-width: 3px;
    display: inline;
    margin-left: 2.5%;
    border: solid;
    border-color: #6a6a6a;
    border-width: 0.5px;
    border-radius: 5px;
  }

//--------------Index User Profiles Desktop Styles-------------//


  img.profile-image{
    width: 15%;
  }

  .index-users{
    border-radius: 2px;
    width: 90%;
    margin-left: 2.5%;
    padding-top: 2%;
    padding-bottom: 10%;
    margin-top: 1%;
  }

  #link-to-profile img{
    width: 5%;
    float:right;
    margin-top: -8%;
    margin-right: 6%;
  }

  #index-profile-name{
    color: #3b3b3b;
  }

  #index-profile-location{
    font-size: 1rem;
    margin-top: -2%;
  }

  .line-break{
    margin-top: 10%;

  }

  .profile-details-title{
    font-size: 1.2rem;
    color: #00aca1;
  }

  .profile-tags{
    text-align: left;
    margin-top: 2%;
    background-color:#f5f7fa;
    border-radius: 2px;
    padding-top: 1%;
    padding-bottom: 2%;
    margin-left: 2.5%;
    width: 90%;
    & h2{
      background-color: #dce4ef;
      font-size: 1.5rem;
      color: #31343f;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 1%;
      text-align: center;
      border-radius: 2px;
    }
    & a{
      background-color: $base-background-color;
      color:#9fed9c;
      padding: 1%;
    }
  }

  #tag-spacing{
    margin-left: 5%;
    margin-right: 5%;
  }

  //---------------Desktop MailBox Styles-------------//
  button.message-to-button{
    margin-left: 37%;
    width: 16%;
    background-color: #9fed9c;
    color: #31343F;

  }

  .reply{
    background-color: #9fed9c;
    border: 0;
    border-radius: 2px;
    color: #31343f;
    cursor: pointer;
    display: inline-block;
    font-family: $base-font-family;
    font-size: $base-font-size;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    line-height: 1;
    padding: $small-spacing $base-spacing;
    transition: background-color $base-duration $base-timing;
    vertical-align: middle;
    white-space: nowrap;
    margin-left: 5%;

    &:hover,
    &:focus {
      background-color: shade(#a9a9a9, 20%);
      color: #fff;
    }
  }

  #mailbox{
    background-color: #f5f7fa;
    border-radius: 2px;
    padding-top: 2%;
    padding-bottom: 3%;
    width: 95%;
    margin-left: -2.5%;
    margin-top: 2%;
  }

  #mailbox-title{
    display: block;
    background-color:#f5f7fa;
    border-radius: 2px;
    padding-top: 2%;
    padding-bottom: 1%;
    width: 95%;
    margin-left: -2.5%;
    margin-top: -3%;
    & h1{
      background-color: #dce4ef;
      font-size: 1.5rem;
      color: #31343f;
      width: 90%;
      border-radius: 2px;
      margin-left: 5%;
      margin-top: 1%;
    }
  }


  #show-inbox-button{
    float: left;
    margin-left: 2%;
    margin-top: 6%;
    width: 20%;
    background-color: #31343f;
    border-radius: 2px;
    color: #dee2f8
  }

  #show-inbox{
    margin-left: 30%;
    margin-top: 2%;
    background-color: white;
    margin-right: 5%;
    padding-top: 2%;
    padding-left: 2%;
    border-radius: 2px;
  }
  .sent_message{
    margin-left: 30%;
    margin-top: 2%;
    background-color: white;
    margin-right: 5%;
    padding-top: 2%;
    padding-left: 2%;
    border-radius: 2px;
  }
  .unread{
    float: right;
    margin-right: 5%;
    margin-top: -1%;
    font-size: 1.2rem;
  }

  .unread-checkbox{
    float: right;
    margin-right: 2%;
  }

  .reply{
    float: right;
    margin-top: -8%;
    margin-right: 2%;
  }

  .line-break-inbox{
    width: 103.5%;
    margin-left: -3.5%;

  }

  .message-info{
    font-size: 1rem;
  }

  .recipient_id{
    color: #3b3b3b;
  }

  .subject_line{
    color: #3b3b3b;
  }

  .sent_by{
    color: #3b3b3b;
  }

  .reply_message{
    margin-top: 2%;
  }


  .reply-name{
    color: #7f7f7f;
    font-size: 1.3rem;
  }

  #sent_message_show{
    float: left;
    margin-left: -20%;
    margin-top: 12%;
    width: 20%;
    background-color: #31343f;
    border-radius: 2px;
    color: #dee2f8
  }

  #message_message{
    margin-top: 2.5%;
  }

  label.error {
    display: block;
    color: #e06c75;
    width: 60%;
  }

  #tag-name{
    text-align: center;
    font-size: 1.5rem;
    width: 40%;
    margin-left: 25%;
    background-color: $base-background-color;
    color:#9fed9c;
    padding: 2%;
    border-radius: 2px;
    margin-top: -3%;


  }

  #tags-content{
    border-radius: 2px;
    width: 90%;
    margin-left: 2.5%;
    padding-top: 2%;
    padding-bottom: 10%;
    margin-top: 1%;
  }

  //------------------About Us Styles----------------//
  .about-us{
    background-color: #f5f7fa;
    width: 95%;
    margin-left: -1%;
    margin-top: -3%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
    border-radius: 2px;
    & h2{
      background-color: #dce4ef;
      font-size: 1.6rem;
      color: #31343f;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 1%;
      text-align: center;
      border-radius: 2px;
    }
  }
  .contact-us{
    background-color: #f5f7fa;
    width: 95%;
    margin-left: -1%;
    margin-top: -3%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
    border-radius: 2px;
    & h2{
      background-color: #dce4ef;
      font-size: 1.6rem;
      color: #31343f;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 1%;
      text-align: center;
      border-radius: 2px;
    }
    & p{
      text-align: center;
      color: #333333;
      margin-top: 5%;
      padding-bottom: 3%;
      font-size: 1.3rem;
    }
  }

  .about-image img{
    width: 20%;
    height: 150px;
    border-radius: 2px;
    margin-left: 5%;
  }

  .index-about-name{
    color: #31343f;
    margin-left: 35%;
    margin-top: -15%;
    margin-bottom: 15%;
    font-size: 1.5rem;
  }

  //------------------Footer----------------------//
  .footer{
    clear: both;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    background-color: #dce4ef;
    margin-top: 27%;
    padding-top: 1%;
    padding-bottom: 1%;
    & a{
      color: #31343f;
      margin-left: 1%;
      font-size: 1.1rem;
      padding-bottom: 0.5%;
      display: block;
    }

    & a:hover{
      color: white;
    }

    & p{
      color: #31343f;
      float: right;
      font-size: 0.9rem;
      margin-right: 1%;
    }
  }

}

//------------------Large Screen------------------//
@include media ($extra-large-screen-up){
  .logout-icon{
    display: block;
    position: absolute;
    margin-left: 91%;
    margin-top: -2.25%;
    & img{
      width: 45%;
      padding-top: 2.5%;
      z-index: 5;
    }
  }
  #profile-info-container{
    padding-bottom:6%;
    margin-top: -3%;
  }
  button.message-and-request-button{
    margin-top: 0%;
  }
  #profile-images{
    margin-top: 0%;
    & img{
      border-radius: 0;
      height: 250px;
      width: 100%;

    }

  }
  #login-notice{
    margin-left: 1%;
    margin-top: 5%;
  }
  .bx-wrapper{

    height: 250px;
  }
  input.block_button{
    margin-top: -4.5%;
    height: 2.5rem;
  }
  #profile-name{
    margin-top: -15%;
  }
  #profile-languages{
    margin-top: -16.5%;
    height: 275px;
  }

  .line-break{
    margin-top: 12.5%;
  }

  .new_message_pop_up_expanded {
      height: 15%;
      padding-left: 0px;
    & textarea#message_message {
      width: 75%;
      height: 50%;
      margin-left: 5%;
    }
    & p {
      padding-top: 2%;
    }
  }

  input#commit {
    display: inline-block;
    padding-left: 6%
  }
  #sent_message_show{
    margin-top: 10%;
  }

  .spacing{
     margin-left: 37%;
     height:50px;
     width: 100%;
  }

  .search-form{
    margin-top: -3.5%;
  }

  .recos img {
    margin-bottom: 2%;
    margin-left: 5%;
  }

  .reco-info {
    padding-top: 3%;
}

  .footer{
    margin-top: 27%;
  }

  input#search_city{
    margin-left: 3%;
  }
  .about-image img{
    width: 20%;
    height: 250px;
    border-radius: 2px;
    margin-left: 5%;
  }

  .index-about-name{
    color: #31343f;
    margin-left: 35%;
    margin-top: -10%;
    margin-bottom: 10%;
    font-size: 1.5rem;
  }

}
