// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
  background-color: $base-background-color;
}
@include keyframes(fadeIn) {
  from {
    @include transform(scale(0.5));
  }
  to {
    @include transform(scale(1));
  }
}
@include keyframes(fadeInButtons) {
  from {
    opacity: 0;
    @include transform(translateY(100%));
  }
  to {
    opacity: 1;
    @include transform(translateY(0%));
  }
}

.logo-animated {
  @include animation-duration(1s);
  @include animation-timing-function(ease);
  animation-name: fadeIn;

  margin-top: 40%;
  margin-left: 14%;

}

.githug-logo{
  margin-left:auto;
  margin-right:auto;
  display:block;
}

.login{
  opacity: 0;
  @include animation-duration(1s);
  @include animation-timing-function(ease);
  @include animation-delay(2.5s);
  @include animation-fill-mode(forwards);
  animation-name: fadeInButtons;


  text-align: center;
  font-size: 1.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border: $base-border;
  @include span-columns(3);
  margin-left: 13.5%;
  color: black;

}
.signup{
  opacity: 0;
  @include animation-duration(1s);
  @include animation-timing-function(ease);
  @include animation-delay(2.5s);
  @include animation-fill-mode(forwards);
  animation-name: fadeInButtons;


  text-align: center;
  font-size: 1.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border: $base-border;
  @include span-columns(3);
  margin-left: 13.5%;
  color: $secondary-font-color;

}

#or{
  opacity: 0;
  @include animation-duration(1s);
  @include animation-timing-function(ease);
  @include animation-delay(2s);
  @include animation-fill-mode(forwards);
  animation-name: fadeInButtons;

  display: block;
  text-align: center;
  padding-right: 7%;
  padding-left: 7%;
  margin-top: 17.5%;
  margin-bottom: 2.5%;
  color: $secondary-font-color;
}
