@include keyframes(fadeIn) {
  0%{
    @include transform(scale(0.7));
  }
  50%{
    @include transform(scale(1));
  }
  100%{
    @include transform(scale(0.7));
  }
}

body.sessions{
  background-color: #31333f;
}

.logoTyped{
  font-family: $base-font-family;
  color: #98ea8f;
  font-size: 1.5rem;

}
.typed-cursor{
  background-color: #98ea8f;
  color: #98ea8f;
  font-size: 1.2rem;

}

.login img{
  @include animation-duration(2s);
  @include animation-fill-mode(backwards);
  @include animation-timing-function(ease);
  @include animation-iteration-count(infinite);
  animation-name: fadeIn;
}

#loadAnimation{
  margin-top: 45%;
  margin-bottom: 5%;
  margin-left: 25%;
}

@include media ($large-screen-up){

  #loadAnimation{
    margin-left: 40%;
    margin-top: 15%;
  }

  .login img{
    margin-left: 27.5%;
    margin-top: 5%;
  }
}
