// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.sessions {
  background-color: $base-background-color;
  height: 100vh;
}
@include keyframes(fadeIn) {
  from {
    @include transform(scale(0.5));
  }
  to {
    @include transform(scale(2));
  }
}
@include keyframes(fadeInButtons) {
  from {
    opacity: 0;
    @include transform(translateY(100%));
  }
  to {
    opacity: 1;
    @include transform(translateY(0%));
  }
}

.logo-animated {
  @include animation-duration(1s);
  @include animation-timing-function(ease);
  @include animation-fill-mode(forwards);
  animation-name: fadeIn;

  padding-left: 33%;
  padding-top: 45%;
  padding-bottom: 40%;

}

.githug-logo{
  display:block;
}

.session-links {
  @include outer-container;

  .link-wrap {
    @include span-columns(3);
    @include shift(0.5);

    a {
      text-align: center;
      font-size: 1.5rem;
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
      border: $base-border;
      border-color: white;
      margin-bottom: 50px;
      display: block;
      width: 100%;
      color: white;
    }
  }
}

.login{
  opacity: 0;
  @include animation-duration(1s);
  @include animation-timing-function(ease);
  @include animation-delay(2.5s);
  @include animation-fill-mode(forwards);
  animation-name: fadeInButtons;

}
.signup{
  opacity: 0;
  @include animation-duration(1s);
  @include animation-timing-function(ease);
  @include animation-delay(3s);
  @include animation-fill-mode(forwards);
  animation-name: fadeInButtons;
}

#or{
  opacity: 0;
  @include animation-duration(1s);
  @include animation-timing-function(ease);
  @include animation-delay(2s);
  @include animation-fill-mode(forwards);
  animation-name: fadeInButtons;

  display: block;
  text-align: center;
  padding-right: 7%;
  padding-left: 7%;
  margin-top: 17.5%;
  margin-bottom: 2.5%;
  color: $secondary-font-color;
}

@include media ($large-screen-up){
  body.sessions .yeild{
    background-color: $base-background-color;
  }
  .logo-animated {
    padding-left: 50%;
    padding-top: 15%;
    padding-bottom: 10%;
    width:120%;

  }

  .session-links {
    @include outer-container;

    .link-wrap {
      @include span-columns(3);
      @include shift(0.5);

      a {
        width: 80%;
        margin-left: 80%;
      }
    }
  }
}
